<!-- views/partials/footer.ejs  -->
<div id="footer">
<div class="footer">
  <img src="/images/black inst logo .png" alt="" />
</div>
<p>join us and earn through your status and stories</p>
<div class="footer-img">
  <img src="/images/ads.jpg" alt="" />
</div>
</div>