<!-- views/partials/head.ejs -->

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:title" content="AdStories" />
<meta
  property="og:description"
  content="Wanna gain through your Whatsapp Status or IG stories. Join and earn upto 840/week."
/>
<meta property="og:url" content="http://adstories.in" />
<meta
  property="og:image"
  itemprop="image"
  content="http://adstories.in/images/poster-thumbnail.jpg"
/>
<title>AdStories</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" href="css/styles-learn.css" />
