<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="AdStories" />
    <meta
      property="og:description"
      content="Wanna gain through your Whatsapp Status or IG stories. Join and earn upto 840/week."
    />
    <meta property="og:url" content="http://adstories.in" />
    <meta
      property="og:image"
      itemprop="image"
      content="http://adstories.in/images/poster-thumbnail.jpg"
    />
    <title>AdStories</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/css/styles-learn.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/"
          ><img src="/images/black inst logo .png" alt=""
        /></a>
      </div>
    </header>
    <div class="section">
      <h2 class="center">Upload your view count</h2>

      <form id="submit-form" method="POST" action="/claim/status ">
        <h2 for="uid">Unique ID</h2>
        <input
          type="text"
          id="uid"
          name="uid"
          placeholder="Unique ID"
          autocomplete="off"
          required
        />
        <div class="button">
          <button id="claim-btn" class="btn claim" type="submit">
            <h5>Upload</h5>
          </button>
        </div>
        <div class="error" id="error-message"></div>
        <div class="msg" id="msg">
          <% if(typeof msg != 'undefined'){ %>
          <h5><%= msg %></h5>
          <%}%>
        </div>

        <div class="animation-container">
          <div class="animation"></div>
          <p></p>
        </div>
      </form>

      <div class="footer">
        <img src="/images/black inst logo .png" alt="" />
      </div>
      <p>join us and earn through your status and stories</p>
      <div class="footer-img">
        <img src="/images/ads.jpg" alt="" />
      </div>
    </div>

    <script
      type="text/javascript"
      src="https://unpkg.com/axios/dist/axios.min.js"
    ></script>
    <script type="text/javascript" src="/imgur.js"></script>
    <script type="text/javascript" src="/app-verify.js"></script>
  </body>
</html>
