<!DOCTYPE html>
<html lang="en">
<head>

    <%- include ("./partials/head") %>
 
</head>
<body>
    <header>
        <%- include ("./partials/header") %>
    </header>
    <div class="section">
        <!-- <div class="button">
            <a href="reg.html">join us</a>
            <a href="wait.html">claim your amount</a>
            <button class="btn claim" onclick="window.location.href='wait.html'"><h5>Claim your Reward</h5></button>
            <button class="btn join" onclick="window.location.href='regu.html'" >Join Us</button>
            
        </div> -->

        <div class="join">
           <h3> Claim Status</h3> 
           <h2> <%= name %> </h2>
           <p> <%= uid %> </p>
        </div>

        <div class="instruction">
            <div class="display">
                <div class="icons">
                    
                    <% if (submitted) { %>
                        <img src="/images/tick.png" alt="" id="tick" >
                     <% } else { %>
                        <img src="/images/timer.png" alt="" >
                    <% } %>
                   
                </div>
                <div class="form-content">
                    <p >fill the form</p>                  
                </div>
            </div>
            <div class="display">
                <div class="icons">
                    <% if (verified) { %>
                        <img src="/images/tick.png" alt="" id="tick" >
                     <% } else { %>
                        <img src="/images/timer.png" alt="" >
                    <% } %>
                </div>
                <div class="form-content">
                    <% if (verified) { %>
                        <p >Screenshot verified</p>
                     <% } else { %>
                        <p >Waiting for verification</p>
                    <% } %>
                    
                </div>
            </div>
            <div class="display">
                <div class="icons">
                    <% if (payment) { %>
                        <img src="/images/tick.png" alt="" id="tick" >
                     <% } else { %>
                        <img src="/images/timer.png" alt="" >
                    <% } %>
                </div>
                <div class="form-content">
                    <% if (payment) { %>
                        <p >Payment proccessed</p>
                     <% } else { %>
                        
                        <p >Payment - Waiting for verification</p>
                    <% } %>
                </div>
            </div>
            <!-- <div class="display">
                <div class="icons">
                    <img id="gradient"  src="images/rupeee.png" alt="">
                </div>
                <div class="form-content">
                    <p >start earning</p>
                    <p class="form-info">Send us your screen recording in claim amount tab Wait untill we verify and process your payment</p>
                </div>
            </div> -->
            <hr>
            
        </div>
            <div class="paytm-logo">
                <img src="/images/paytm.png" alt="" id="paytm">
                <div class="vertical">
                
                </div>
                <p>
                    our payments are fullfiled by paytm
                </p>
            </div>
            <div>

            </div>
            
            <!-- <div class="footer">
                <img src="images/black inst logo .png" alt="">
            </div>
            <p>join us and earn through your status and stories</p> -->
            <div class="footer-img">
                <img src="/images/ads.jpg" alt="">
            </div>
        
    </div> 


</body>
</html>