@font-face{
    font-family: 'Axiforma';
    src: url(../fonts/Axiforma\ Light.otf);
    font-style: normal;
    font-weight: 200;
}

@font-face{
    font-family: 'Axiforma';
    src: url(../fonts/Axiforma\ Light\ Italic.otf);
    font-style: italic;
    font-weight: 200;
}

@font-face{
    font-family: 'Axiforma';
    src: url(../fonts/Axiforma\ Bold\ Italic.otf);
    font-style: italic;
    font-weight: 600;
}

@font-face{
    font-family: 'Axiforma';
    src: url(../fonts/Axiforma\ Thin.otf);
    font-style: normal;
    font-weight: 100;
}

@font-face{
    font-family: 'Axiforma';
    src: url(../fonts/Axiforma\ Bold.otf);
    font-style: normal;
    font-weight: 600;
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: #f3f3f3;
    /* background-image: url(../images/bg2\ \(1\).jpg);
    background-size: 100%;    
    background-repeat: no-repeat; */
    font-family: Axiforma;
    align-items: center;
    color: white;
}
h5{
    font-family: Axiforma;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    color: white;
}
h2{
    font-family: Axiforma;
    font-style: normal;
    font-weight: 200;
    font-size: 1em;
    text-align: left;
    color: grey;
}
.center{
    text-align: center;
    color: black;
}

h1{
    font-family: Axiforma;
    font-style: normal;
    font-weight: 100;
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    color: grey;
}

.msg{
    font-family: Axiforma;
    color:black;
    background-color: rgb(241, 152, 152);
    margin-top: 2rem;
    text-align:center;
}


header div{
    /* border-bottom-right-radius: 27px;
    border-bottom-left-radius: 27px; */
    box-shadow: 0px 3px 6px rgba(149, 149, 149, 0.1);
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  }

label{
    font-family: Axiforma;
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    text-align: left;
    background-color: white;
    color: grey;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.download{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Axiforma;
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    color: grey;
    background-color: white;
    margin: 8px 0;
    text-align: left;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
.logo img{
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    padding-left: 40%;
    padding-right: 40%;

}

.section{
    margin: 10%;
    text-align: center;

}

header{

    justify-content: center;
    align-items: center;
}

.btn{
    text-align: center;
    border: 0;
    border-radius: 5px;
    background-color:#FAFAFA;
    padding: 14px 28px;
    font-size: 11px;
    cursor: pointer;
    box-shadow: 3px 5px 6px rgba(149,149,149,0.4);
    font-family: Axiforma;
    margin: 10px;

}
.button{
    margin-top: 10%;
}


.claim{
    margin-bottom: 0%;
    background: rgb(239,80,81);
    background: linear-gradient(138deg, rgba(239,80,81,1) 0%, rgba(224,45,116,1) 60%, rgba(156,107,170,1) 100%);
}





.footer{
    padding-top: 50px;
 
}

.footer img{
    width: 120px;
    height: auto;  
    /* padding-top: 400px;   */
}

.footer-img img{
    margin-top: 5%;
    width: 100%;
    height: auto;
}

p{
    color:black;
    font-family: Axiforma;
    font-size: 10px;
}

select{
    position: relative;
    color: gray;
    font-family: Axiforma;
}

.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }

::placeholder{
    font-family: Axiforma;
}

input[type="text"]{
    font-family: Axiforma;
    color: grey;
}

.error{
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 0px;
    border-radius: 10px;
    background: #FE8B8E;
    text-emphasis: center;
    font-family: Axiforma;
    font-size: 14px;
    transition: all 0.5 ease;
}

input[type="file"]{
    display: none;
}

#download-content{
    font-size: 14px;
}

#nb{
    margin-top: 5%;
    font-size: 8px;
    text-align: left;
    color: grey;
}
 
/* font awesome whatsapp  */

.botao-wpp {
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: #25d366;
    font-weight: bold;
    padding: 1rem 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: Axiforma;
    font-weight: 200;
    width: 100%;
    padding: 12px 20px;
    text-align: left;
}
  
  .botao-wpp:hover {
    background-color: darken(#25d366, 5%);
  }
  
  .botao-wpp:focus {
    background-color: darken(#25d366, 15%);
  }


/*
OPEN imgur CSS
*/

.loader-container{
    margin-top: 20px;
    width: 100%;
    /*height: 100vh; */
    border-radius: 10px;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader{
    width: 30px;
    height: 30px;
    border: 5px solid;
    color: grey;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader{
    to{
        transform: rotate(360deg);
    }
}


.dropzone {
    font-family: Axiforma;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 50%;
}

.info {

    margin-top: 11%;
}

.dropzone p {
    /*height: 100%;*/
    /*line-height: 200px;*/
    margin: 0%;
    text-align: center;
    width: 100%
}

#wait{
    padding-top: 4%;
}

.input {
    height: 100%;
    left: 0;
    outline: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.status {
    border-radius: 5px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.image-url {
    font-family: 'Axiforma';
    width: 50%;
}

.dropzone.dropzone-dragging {
    border-color: #000
}

.loading-modal {
    background-color: rgba(255, 255, 255, .8);
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.loading-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 15%;
}

.img {
    width: 100%;
}

.url{
    display: none;
}

.hidden-input{
    display: none;
}
/*
CLOSE imgur CSS
*/

form{
    margin-top: 20px;
}


@media screen and (max-width:1000px){

    .logo img{
        width: 100%;
        padding-left: 23%;
        padding-right: 23%;
    }

    .section{
        padding-top: 5%;
    }
    .btn{
        width: 60%;
        
    }
    .button{
        padding-left: 15%;
        padding-right: 15%;
    }

    .footer img{  
        width: 100px;
        height: auto;
        /* padding-top: 50%;   */
    }

    p{
        font-size: 6px;
    }
    .claim{
        margin-bottom: 5%;
    }


    
    


}
.spacer{
    height: 4rem;
}
.msg-box {
    margin-top:3rem;
    height: 500px;
    box-sizing: border-box;
    color:black;
}